<h1><%= @intelligence.name %></h1>

<%= @intelligence.description %>
<br>
<%= link_to 'Edit Intelligence', edit_intelligence_path(@intelligence), class: 'btn btn-warning' %>
<%= link_to 'Delete Intelligence', intelligence_path(@intelligence), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure ?'} %>
