<div id="items">
  <% session.mods.each do |mod| %>
  <% if mod.position == 1 %>
		<% @start = session.start_time %>
	<% else %>
		<% @duration = session.mods.find_by(position: (mod.position - 1 )).duration.minutes %>
		<% @start += @duration %>
	<% end %>
  <%= render "mods/mod_card", mod: mod, session: session, start: @start %>
  <% end %>
</div>
