<div class="container">
  <h3>List of contents</h3>

  <% @contents = @contents.sort_by(&:chapter) %>

  <ul>
    <% @contents.each do |content| %>
    <li><%= link_to "#{content.chapter} - #{content.title}", content_path(content) %></li>
    <% end %>
  </ul>
</div>
