// Define variables for your color scheme

// For example:
$red: #EC405B;
$blue: #6C9DBC;
$yellow: #FFC15C;
$orange: #FF8A6A;
$green: #24A1AA;
$gray: #CBCBCB;
$rose: #FCACA4;
$pale-rose: #EA8192;
$light-gray: #F4F4F4;
$black: #000;
$gray-base: #000 !default;
$gray-dark: lighten($gray-base, 20%) !default;