// Define variables for your color scheme

// For example:
$red: #EC405B;
$blue: #569ff7;
$yellow: #FFC15C;
$orange: #FF8A6A;
$green: #24A1AA;
$gray: #000000;
$rose: #FCACA4;
$pale-rose: #EA8192;
$light-gray: rgb(248, 249, 250);
$black: #000;
$gray-base: #000 !default;
$gray-dark: lighten($gray-base, 20%) !default;
