.list-clients {
  ul {
    margin-top: 20px;
    padding: 0;
  }
}

.client-control {
  display: flex;
  align-items: center;
}

.clients-list {
  list-style-type: none;
  a { text-decoration: none;
    transition: all 0.5s ease;
    &:hover {
    color: black;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
    }
  }
}

.client-card {
  display: flex;
  align-items: center;
  color: rgba(0,0,0,0.6);
  margin: 10px 0;
  p {
    margin: 0;
  }
}

.client-logo-list, .client-company, .client-name, .client-email, .client-access {
  margin: 10px 20px;
  width: 25vw;
}

.client-name {
  padding: 5px;
}

.client-access {
  margin-left: 10vw !important;
}

