.content-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-text-area {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 30px;
  letter-spacing: 1px;
  line-height: 1.3em;
  text-align: justify;
}
