.wrapper {
  border-left: 3px ridge rgba(0,0,0,0.1);
  border-top: 3px ridge rgba(0,0,0,0.1);
  // overflow: hidden;
  .container {
    width: auto;
    padding: 30px;
    .session-container {
      padding: 30px 10px;
    }
  }
}
