.wrapper {
  border-left: 3px inset rgba(0,0,0,0.1);
  // overflow: hidden;
  .container {
    width: auto;
    padding: 30px;
    .session-container {
      padding: 30px 10px;
    }
  }
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.container, .session-container {
  min-height: 100vh;
}
