.wrapper {
  .container {
    width: auto;
    height: 100vh;
    padding-top: 35px;
    padding-bottom: 80px;
    padding-left: 80px;
    padding-right: 80px;
    .session-container {
      padding: 30px 10px;
    }
  }
}

.tab-pane .row {
  margin-left: 0;
  padding-left: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.container, .session-container {
  min-height: 100vh;
}
