<footer class="footer">
    <%= image_tag "logo_inline_white.png" %>
    <a href="mailto:contact@byseven.co">CONTACTEZ-NOUS À CONTACT@BYSEVEN.CO</a>
    <p>Copyright © Learn by Seven. All rights reserved.</p>
</footer>
