<div class="left-navbar">
  <%= link_to projects_path do %>
    <div class="left-menu-list">
      <i class="fas fa-tasks"></i> Projects
    </div>
  <% end %>
  <%= link_to contents_path do %>
    <div class="left-menu-list">
      <i class="fas fa-book"></i> Contents
    </div>
  <% end %>
  <%= link_to clients_path do %>
    <div class="left-menu-list">
      <i class="fas fa-users"></i> Clients
    </div>
  <% end %>
  <%= link_to users_path do %>
    <div class="left-menu-list">
      <i class="fas fa-user-tie"></i></i> Users
    </div>
  <% end %>
</div>


<!-- Ici c'est la version avec une flex et un + directement dans la left bar -->

<!-- <div class="left-navbar">
  <div class="menu-list">
    <div class="menu-list-left"><%#= link_to "Projects", projects_path %></div>
    <div class="menu-list-right"><%#= link_to new_project_path do %>
      <i class="fas fa-plus"></i>
      <%# end %>
    </div>
  </div>
  <div class="menu-list">
    <div class="menu-list-left"><%#= link_to "Contents", contents_path %></div>
    <div class="menu-list-right"><%#= link_to "+", new_content_path %></div>
  </div>
  <div class="menu-list">
    <div class="menu-list-left"><%#= link_to "Clients", clients_path %></div>
    <div class="menu-list-right"><%#= link_to "+", new_client_path %></div>
  </div>
  <div class="menu-list">
    <div class="menu-list-left"><%#= link_to "Users", users_path %></div>
    <div class="menu-list-right"><%#= link_to "+", new_user_path %></div>
  </div>
</div>
 -->
