<div class="container">
  <h1>List of clients</h1>

  <ul>
    <% @clients = @clients.sort_by(&:company) %>
    <% @clients.each do |client| %>
      <li><%= link_to "#{client.name} - #{client.company}", client_path(client) %></li>
    <% end %>
  </ul>
</div>
