<div class="container">
  <div class="list-clients">
    <div class='client-control'>
      <button class="btn control-button control-button-add">
        <%= link_to new_client_path do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </button>
      <h3>List of clients</h3>
    </div>
      <ul>
        <% @clients = @clients.sort_by(&:company) %>
        <% @clients.each do |client| %>
          <li><%= link_to "#{client.company} - #{client.name}", client_path(client) %></li>
        <% end %>
      </ul>
  </div>
</div>
