<div class="container">
  <div class="list-clients">
    <div class='client-control'>
      <h3>List of clients</h3>
      <button class="btn btn-success">
        <%= link_to 'New client', new_client_path %>
      </button>
    </div>
      <ul>
        <% @clients = @clients.sort_by(&:company) %>
        <% @clients.each do |client| %>
          <li><%= link_to "#{client.company} - #{client.name}", client_path(client) %></li>
        <% end %>
      </ul>
  </div>
</div>
