<div class="banner">
  <div class="banner-content">
    <%= cl_image_tag("Twenty-Eighty/logo-home.png", class: "logo-home") %>
    <h1>Welcome to your Sevener's training builder</h1>
    <p>Please log in to enter the Seven's dimention</p>
    <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-primary" %>
    <br>
    <br>
    <a href="mailto:contact@twenty-eighty.pro" style="color: white">OBTENIR UN ACCES</a>
  </div>
</div>
