<h1>Project Index</h1>

<ul>
  <% @project.each do |project| %>
    <li><%= link_to "#{project.title}", project_path(project) %></li>
  <% end %>
</ul>

<%= link_to 'Add a project', new_project_path %>
