<div class="container" style="background-color: white">
  <div class="projects-title">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#ongoing" data-toggle="tab">Ongoing Projects</a></li>
      <li role="presentation"><a href="#coming" data-toggle="tab">Coming Projects</a></li>
      <li role="presentation"><a href="#completed" data-toggle="tab">Completed Projects</a></li>    
      <!-- <h3><%#= "Welcome #{current_user.name}" %></h3> -->
    </ul>
    <div class="new-project">
      <%= link_to 'New project', new_project_path, class: "btn btn-edit" %>
    </div>
  </div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="ongoing">
      <%= render 'ongoing', projects: @projects %>
    </div>
    <div role="tabpanel" class="tab-pane" id="coming">
      <%= render 'coming', projects: @projects %>
    </div>
    <div role="tabpanel" class="tab-pane" id="completed">
      <%= render 'completed', projects: @projects %>
    </div>
    <div role="tabpanel" class="tab-pane" id="settings">
    </div>
  </div>
</div>