$timeline: #5959a5;

.card {
  height: 200px;
  width: 300px;
  margin-bottom: 40px;
  position: relative;
  background-color: white;
  font-family: 'Roboto';
  font-weight: lighter;
  box-shadow: 1px 1px 10px rgba(115, 133, 152, 0.6);
  .card-main {
    height: 75%;
    width: 100%;
    text-align: left;
    padding: 15px;
    border: 1px solid rgba(115, 133, 152, 0.6);
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h6 {
      margin: 15px 0;
    }
  }
}

.client-logo {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-link {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
}

.card-infos {
  margin-top: 30px;
 .card-infos-elements {
    margin-top: 5px;
  }
}

.card-footer {
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(115, 133, 152, 0.6);
  border-top: none;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: $green;
    font-weight: bolder;
  }
}

.card-lg {
  width: 60%;
  height: auto;
  border: 1px solid rgba(115, 133, 152, 0.6);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(115, 133, 152, 0.6);
  margin: 0 auto;
  margin-top: 30px;
  &:hover {
    transition: all 0.8s ease;
    transform: scale(1.1);
    }
  .card-main-lg {
    height: auto;
    padding: 20px;
    position: relative;
    h3 {
      margin: 0;
      margin-bottom: 20px;
    }
  }
  .card-footer-lg {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(115, 133, 152, 0.6);
    p {
      margin: 0;
    }
  }
}

#items {
    margin-bottom: 20px;
    .card-mods {
    display: flex;
    margin: 0;
    padding: 0;
    border: none;
    width: 65vw;
    opacity: 0.75;
    &:hover {
      transition: all 0.8s ease;
      transform: scale(1.0);
      opacity: 1;
    }
  }
  .card-left {
    border-right-style: solid;
    border-right-color: $timeline;
    border-right-width: 4px;
    flex: 0 0 15%;
  }
  .mod-time {
    margin-left: 35%;
  }
  .card-right {
    flex-shrink: 2;
    padding-left: 40px;
  }
  .circle {
    border: solid 2px $timeline;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: -7%;
    background-color: $timeline;
  }

  .align-elements-in-flexbox {
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
  }
  .card-description {
    text-align: justify;
  }

}

.top-mods {
  margin-bottom: 40px;
}

duration {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;

}

.card-mods:first-child {
  .card-left {
     -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from($timeline), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(top, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(top, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(top, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to top, $timeline, rgba(0, 0, 0, 0)) 1 100%;
  }
}

.card-mods:last-child {
  .card-left {
     -webkit-border-image:
      -webkit-gradient(linear, 0 100%, 0 0, from($timeline), to(rgba(0, 0, 0, 0))) 1 100%;
    -webkit-border-image:
      -webkit-linear-gradient(bottom, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image:
      -moz-linear-gradient(bottom, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image:
      -o-linear-gradient(bottom, $timeline, rgba(0, 0, 0, 0)) 1 100%;
    border-image:
      linear-gradient(to bottom, $timeline, rgba(0, 0, 0, 0)) 1 100%;
  }
}
