.card {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(115, 133, 152, 0.6);
  margin-bottom: 40px;
  position: relative;
  &:hover {
    transition: all 0.8s ease;
    transform: scale(1.1);
    }
  .card-main {
    height: 70%;
    width: 100%;
    text-align: right;
    padding: 10px;
    border: 1px solid rgba(115, 133, 152, 0.6);
    border-radius: 10px 10px 0 0;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h6 {
      margin: 0;
      color: white;
    }
  }
}

.card-link {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
}

.card-footer {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgba(115, 133, 152, 0.6);
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: rgb(58, 162, 173);
  ul {
    margin: 0;
  }
  li {
    list-style-type: none;
  }
  p {
    margin: 0;
  }
}

.card-lg {
  width: 60%;
  height: auto;
  border: 1px solid rgba(115, 133, 152, 0.6);
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(115, 133, 152, 0.6);
  margin: 0 auto;
  margin-top: 30px;
  &:hover {
    transition: all 0.8s ease;
    transform: scale(1.1);
    }
  .card-main-lg {
    height: auto;
    padding: 20px;
    position: relative;
    h3 {
      margin: 0;
      margin-bottom: 20px;
    }
  }
  .card-footer-lg {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(115, 133, 152, 0.6);
    p {
      margin: 0;
    }
  }
}

#card-dates {
  text-align: right;
}
